; # Игнорируем прокси Clash Verge для скачивания пакетов
; proxy=null
; https-proxy=null
; noproxy=registry.npmjs.org
;
; # Качаем строго с официального стабильного реестра
; registry=https://npmjs.org
;
; # Ваши настройки для NestJS и gRPC, чтобы тесты не падали
; public-hoist-pattern[]=@grpc/*
; shamefully-hoist=true

